# Logs
logs
*.log
config.json
*.db
# Dependency directories
node_modules/

.idea/
prod.config.json
.vscode/
jsconfig.json

lib/configuration/thread-content.json
lib/configuration/thread-state.json

yarn.lock
